@font-face {
	font-family: 'Century Gothic';
	src: 
			url('../fonts/century-gothic-regular.woff2') format('woff2'),
			url('../fonts/century-gothic-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	src: 
			url('../fonts/century-gothic-bold.woff2') format('woff2'),
			url('../fonts/century-gothic-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	min-width: 1440px;
	width: 100%;
	font-family: "Century Gothic", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}

.main-header {
	width: 100%;
	background-color: #961717;
}

.main-header-container {
	width: 1360px;
	margin: 0 auto;
	padding: 40px 40px;
	display: flex;
	align-items: start;
}

.main-header-logo {
	margin-right: 135px;
}

.main-header-nav {
}

.nav-list {
	margin-right: 135px;
	padding: 14px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
}

.nav-item {
}

.nav-item-link {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

.user-list {
	display: none;
}
.user-item {
}
.user-item-button {
}

.main-header-button {
	width: 210px;
	padding: 12px 50px;
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 30px;
	border: 3px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.hero {
}

.hero-info {
}

.hero-info-container {
	width: 1360px;
	padding: 60px 40px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px;
}

.hero-info-text-container {
}

.hero-info-title {
	margin-bottom: 40px;
	font-size: 64px;
	font-weight: 700;
	color: #000000;
}

.hero-info-text {
	width: 555px;
	font-size: 22px;
	font-weight: 400;
	color: #000000;
}

.hero-info-img {
	border-radius: 30px;
}

.hero-info-img-1 {
	align-self: end;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.hero-info-img-2 {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.subscription {
	width: 1360px;
	margin: 0 auto;
	padding: 60px 40px;
}

.subscription-swiper-container {
	position: relative;
}

.hero-title {
	width: 670px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: #961717;
}

.subscription-swiper {
	width: 1130px;
}

.subscription-swiper-wrapper {
	width: 100%;
	margin: 0 auto;
}

.subscription-swiper-slide {
	height: 760px;
	padding: 60px 115px;
	display: flex;
	gap: 20px;
	align-items: center;
	box-sizing: border-box;
	border-radius: 30px;
	background-color: #961717;
}

.subscription-img {
	width: 555px;
	height: 648px;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	align-items: end;
	justify-content: center;
	background-size: 555px 648px;
	background-repeat: no-repeat;
	border-radius: 30px;
}

.subscription-img-1 {
	background-image: url('../img/subscription-1.jpg');
}

.subscription-img-2 {
	background-image: url('../img/subscription-2.jpg');
}

.subscription-img-3 {
	background-image: url('../img/subscription-3.jpg');
}

.subscription-button {
	width: 210px;
	padding: 11px 31px;
	font-size: 23px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 30px;
	border: none;
	background-color: #961717;
	cursor: pointer;
}

.subscription-text-container {
	width: 325px;
}

.subscription-text-container h3 {
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 700;
}

.subscription-text-container p {
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: 400;
}

.subscription-text-container span {
	font-size: 22px;
	font-weight: 700;
}

.subscription-container .subscription-swiper-button {
	position: absolute; 
	top: 50%;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #961717;
	;
}

.subscription-arrow-swiper {
	transform: rotate(180deg);
}

.reviews {
}

.reviews-container {
	width: 1360px;
	margin: 0 auto;
	padding: 60px 40px;
}

.reviews-list {
	margin-bottom: 48px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 20px;
}

.reviews-item {
	width: 440px;
	display: flex;
	flex-direction: column;
}

.reviews-quotes {
	margin-bottom: 20px;
	color: #000000;
}

.reviews-text-container {
	width: 440px;
	padding: 36px;
	margin-bottom: 26px;
	box-sizing: border-box;
	flex-grow: 1;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	border-radius: 30px;
	background-color: #961717;
}

.reviews-autor-container {
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 12px;
	row-gap: 3px;
}

.autor-img-container {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.reviews-autor-container p {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	color: #000000;
}

.reviews-autor-container span {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	color: #898989;
}

.reviews-button {
	display: block;
	width: 443px;
	margin: 0 auto;
	padding: 16px 23px;
	box-sizing: border-box;
	font-size: 22px;
	font-weight: 700;
	color: #961717;
	border-radius: 30px;
	border: 4px solid #961717;
	background: #ffffff;
}

.faq-container {
	width: 1360px;
	padding: 60px 155px;
}

.faq-question {
	position: relative;
	width: 100%;
	padding-top: 33px;
	padding-bottom: 13px;
	display: flex;
	justify-content: space-between;
	border: none;
	border-bottom: 5px solid #898989;
	background-color: #ffffff;
	cursor: pointer;
}

.faq-question::after {
	position: absolute;
	display: block;
	content: "";
	width: 30px;
	height: 17px;
	right: 0;
	top: 40px;
	background-image: url('../img/icons/arrow-back.svg');
	background-repeat: no-repeat;	
}

.faq-question span{
	display: block;
	font-size: 22px;
	font-weight: 700;
	color: #000000;
	text-align: start;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
	transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
	font-size: 22px;
	font-weight: 400;
	color: #000;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding-top: 20px;
	padding-bottom: 40px;
}
